\documentclass{standalone}
\usepackage{amsmath,mathrsfs,amsfonts}
\usepackage{tikz}
\usepackage{graphics}
\usetikzlibrary{shapes.geometric}
\usetikzlibrary{patterns}

\begin{document}

\begin{tikzpicture}[scale=0.5]
\draw[->,white] (-{{canvas_width/2}},0) -- ({{canvas_width/2}},0);

% 画 y 轴
\draw[->,white] (0,-{{ canvas_height/2 }}) -- (0,{{canvas_height/2}});
{% for instruction in tikz_instructions %}
{{instruction}}
{% endfor %}
\end{tikzpicture}
\end{document}